<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>Test.SessionCounter</listener-class>
    </listener>
    <listener>
        <listener-class>Count.CountStream</listener-class>
    </listener>
    <listener>
        <listener-class>Count.CountModel</listener-class>
    </listener>
    <servlet>
        <servlet-name>Twitterfeed</servlet-name>
        <servlet-class>Controller.Twitterfeed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listener</servlet-name>
        <servlet-class>Test.Listener</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Twitterfeed</servlet-name>
        <url-pattern>/Twitterfeed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listener</servlet-name>
        <url-pattern>/Listener</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <distributable/>
</web-app>
