<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Twitterfeed</servlet-name>
        <servlet-class>Controller.Twitterfeed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listener</servlet-name>
        <servlet-class>Test.Listener</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Twitterfeed</servlet-name>
        <url-pattern>/Twitterfeed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listener</servlet-name>
        <url-pattern>/Listener</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    
    <listener>
        <listener-class>
            Test.SessionCounter
        </listener-class>
    </listener>

 
</web-app>
